ul {     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightseagreen;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}
li a:hover { 
    background-color: lightpink; 
}
h1 {
color:lightseagreen;
background-color:lightgreen;
}
.center{
    width:80;
    margin-left:auto;
    margin-right:auto;
}
.title {
    display: inline-block;
    margin-left: 10%;
    width: 20%;
}
body {
    background-color: lightgreen;
}
.center{
    width:80;
    margin-left:auto;
    margin-right:auto;
}
